.main-btn {
    border: none;
    border-radius: 12px;
    color: $white;
    background: $orange;
    padding: 12px 18px;
    height: fit-content;
    width: max-content;
    transition: transform .3s ease-in;
    &:hover {

        transform: scale(1.05);
    }
}

