.header-wrap {

    background: $light_blue;
    

    .header {

        .header-logo {
            img {
                border-radius: 50%;
                width: 70px;
                height: 70px;
            }
        }

        .header-logo-text {
            font-weight: bold;
            color: white;
            font-size: 24px;
            margin-left: 18px;
        }

        .header-nav {

            .nav-item {
                height: fit-content;
                color: white;
                text-decoration: none;
                padding: 6px 8px;
                border-radius: 12px;

            }

            .nav-item.active {

                background: $outline_blue;
                color: $light_blue;
                // border: 2px black solid;
            }
        }

        .hotline {
            padding: 10px;
            background: white;
            border-radius: 12px;
            cursor: pointer;

            svg,
            .text {
                height: fit-content;

            }

        }
    }

    .header-login {
        height: fit-content;
        padding: 10px;
        border-radius: 12px;
        border: none;
        background: $orange;
        color: white;
    }
}

.header-form-wrap {

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: white;
    border: 1px $border-gray solid;



    .login-form, .register-form {

        .to-other {
            cursor: pointer ;
        }
    
        input {
            border: none;
            padding: 8px;
            background: $input;
            border-radius: 12px;
        }
    }
}
