.header-wrap {

    background: $light_blue;

    .header {

        .header-logo {
            img {
                border-radius: 50%;
                width: 70px;
                height: 70px;
            }
        }

        .header-logo-text {
            font-weight: bold;
            color: white;
            font-size: 24px;
            margin-left: 18px;
        }

        .header-nav {

            .nav-item {
                height: fit-content;
                color: white;
                text-decoration: none;
                padding: 6px 8px;
                border-radius: 12px;

            }

            .nav-item.active {

                background: $outline_blue;
                color: $light_blue;
                // border: 2px black solid;
            }
        }

        .hotline {
            padding: 10px;
            background: white;
            border-radius: 12px;
            cursor: pointer;

            svg,
            .text {
                height: fit-content;

            }

        }
    }
}