.home-wrap {
    position: relative;
    overflow: hidden;

    img {
        filter: brightness(0.9);
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: bottom;
    }

}