.home-wrap {
    img {
        width: 100%;
    }
    .search-trip {

        .form-search-wrap {
            border-radius: 12px;
            background: white;
            padding: 18px 40px;

            .form-search{
                label {
                    color: #9d9d9d;
                    font-size: 12px;
                }
            }
        }

        background: $outline_blue;
        height: 500px;
    }
}