.search-trip {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;

    input {
        background: $input;
        margin-left: 12px;
    }

    input:focus-visible {
        outline: none;
    }

    .form-search-wrap {
        background: white;
        padding: 26px 40px;
        border-radius: 12px;
        width: max-content;

        .form-search {
            label {
                color: #9d9d9d;
                font-size: 16px;
            }


        }
    }

    background: $outline_blue;
}

.start-point,
.end-point {

    .local.active {
        
        height: 200px;
        overflow-y: scroll;

    }

    .start-point-result,
    .end-point-result {

        // border: 1px $border_gray solid;
        width: 300px;
        background: white;

        .local {
            span:hover {
                background: $outline_blue;
            }
        }


    }
}

.trip {

    .search {
        input:focus-visible {
            outline: none;
        }

        label {
            color: #9d9d9d;
            font-size: 12px;
        }
    }
}

.accordion-button:not(.collapsed)
 {
    // color: var(--bs-accordion-active-color);
    background-color:unset !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none;
}