.search-trip {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;

    input:focus-visible {
        outline: none;
    }

    .form-search-wrap {
        background: white;
        padding: 18px 40px;
        border-radius: 12px;
        width: max-content;

        .form-search {
            label {
                color: #9d9d9d;
                font-size: 12px;
            }


        }
    }

    background: $outline_blue;
}

.start-point,
.end-point {

    .start-point-result,
    .end-point-result {
        // overflow-y: scroll;
        // border: 1px $border_gray solid;
        width: 200px;
        // height: 200px;
        background: white;

        .local {
            span:hover {
                background: $outline_blue;
            }
        }
    }
}

.trip {

    .search {
        input:focus-visible {
            outline: none;
        }

        label {
            color: #9d9d9d;
            font-size: 12px;
        }
    }
}