.user {
    .user-form {
        label {
            width: 200px;
        }
    }
    .user-logout {
        cursor: pointer;
    }

    .user-ticket-nav,
    .user-information-nav {

        text-decoration: none;
        color: black;
    }

    .user-information-nav.active, .user-ticket-nav.active {
        color: $light_blue !important;
    }
}